<%= error_messages_for 'employees' %>

<!--[form:employees]-->
<p><label for="employees_login">Login</label><br/>
<%= text_field 'employees', 'login'  %></p>

<p><label for="employees_first_name">First name</label><br/>
<%= text_field 'employees', 'first_name'  %></p>

<p><label for="employees_last_name">Last name</label><br/>
<%= text_field 'employees', 'last_name'  %></p>
<!--[eoform:employees]-->

