<h1>Editing mileage</h1>

<% form_tag :action => 'update', :id => @claim %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @claim %> |
<%= link_to 'Back', :action => 'list' %>
