<h1>Editing daybooks</h1>

<% form_tag :action => 'update', :id => @daybooks do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @daybooks %> |
<%= link_to 'Back', :action => 'list' %>
