<% for column in Daybooks.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @daybooks.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @daybooks %> |
<%= link_to 'Back', :action => 'list' %>
