<% for column in Remittance.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @remittance.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @remittance %> |
<%= link_to 'Back', :action => 'list' %>
