<%= error_messages_for 'invoice_rate' %>

<!--[form:invoice_rate]-->
<p><label for="invoice_rate_units">Units</label><br/>
<%= text_field 'invoice_rate', 'units'  %></p>

<p><label for="invoice_rate_cost">Cost</label><br/>
<%= text_field 'invoice_rate', 'cost'  %></p>
<!--[eoform:invoice_rate]-->

