<% for column in Agent.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @agent.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @agent %> |
<%= link_to 'Back', :action => 'list' %>
