<%= error_messages_for 'accounts' %>

<!--[form:accounts]-->
<p><label for="accounts_name">Name</label><br/>
<%= text_field 'accounts', 'name'  %></p>

<p><label for="accounts_sortcode">Sortcode</label><br/>
<%= text_field 'accounts', 'sortcode'  %></p>

<p><label for="accounts_code">Code</label><br/>
<%= text_field 'accounts', 'code'  %></p>
<!--[eoform:accounts]-->

