<% for column in InvoiceType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @invoice_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @invoice_type %> |
<%= link_to 'Back', :action => 'list' %>
